.menu-card {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  height: 100%;
  overflow: hidden;
  display: inline-block;

  span {
    transition: all 350ms ease-in-out;
    &:hover {
      cursor: pointer;
    }
    font-size: 19px;
    display: block;
    text-decoration: underline;
    margin: auto;
    text-align: center;
    line-height: 2;
    text-underline-position: under;
    position: relative;
    top: 1%;
    color: antiquewhite;
    min-width: 162px;
  }
}

// .profiles-container {
// transition: all 850ms ease-in-out;
.profile-image {
  .img-circle {
    width: 216px;
    height: 216px;
    margin-top: 14%;
    border: 0.8rem solid rgba(255, 255, 255, 0.2);
  }
}

.menu-card-white {
  color: rgba(14, 1, 1, 0.7);
}

.profiles-card {
  font-family: "Saira Extra Condensed", sans-serif;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-container {
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(black, crimson);
  width: 25%;
  overflow: hidden;
  display: inline-block;
}

.name {
  text-transform: uppercase;

  .sub-name {
    color: crimson;
  }
}

.profile-fluid {
  padding: 0 !important;
}
// }

.profile-container {
  width: 75%;
  display: inline-block;
  overflow: auto;
}

.portfolio {
  overflow: hidden;
}

.skills-container,
.experience-container,
.education-container,
.interests-container,
.about-container,
.contacts-container {
  margin-top: 4%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) and (orientation: portrait) {
  .menu-container {
    display: block;
    width: 100%;
    height: auto;
    text-align: initial;
    position: fixed;

    .profile-image {
      display: inline-block;
      width: 10%;
      padding-left: 20px;
      img {
        width: 85px;
        height: 85px;
      }
    }

    .menu-card {
      width: 90%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      span {
        padding-left: 4%;
        font-size: 30px;
        min-width: 125px;
        display: inline-table;
      }
    }
  }

  .profile-container {
    margin-top: 10%;
    width: 100%;
    display: block;
    position: fixed;
    .home-container {
      margin-top: 4%;
      padding-top: 0%;

      p {
        padding-top: 4%;
        font-size: 29px;
        line-height: 48px;
      }

      .aside {
        background-color: black;
        height: 449px;
        text-align: center;
        width: 47%;
        position: absolute;
        left: 25%;
        border-radius: 7%;

        div {
          width: 100%;
        }
      }
    }
    .skills-container,
    .experience-container,
    .education-container,
    .interests-container,
    .about-container,
    .contacts-container {
      margin-top: 4%;
    }

    .skills-container {
      min-height: 1190px;
      .show-grid {
        margin-bottom: 4%;
        margin-top: 3%;
      }
    }

    .experience-container {
      min-height: 996px;
      .logo {
        img {
          margin-top: -37%;
          margin-left: 81%;
        }
      }
      p {
        font-size: 18px;
        width: 76%;
        line-height: 36px;
      }
    }

    .education-container {
      min-height: 800px;
      .timeline:before {
        left: 75%;
      }

      .edu-image {
        left: 75%;
      }
    }

    .interests-container {
      min-height: 831px;
      .react-photo-gallery--gallery {
        img {
          width: 49%;
          height: 0%;
        }
      }
    }
    .contacts-container {
      min-height: 50%;
    }
  }
}

@media only screen and (max-device-width: 812px) and (min-device-width: 300px) and (orientation: landscape) {
  .menu-container {
    display: block;
    width: 100%;
    height: auto;
    text-align: initial;
    position: fixed;

    .profile-image {
      display: inline-block;
      width: 10%;
      padding-left: 20px;
      img {
        width: 85px;
        height: 85px;
      }
    }

    .menu-card {
      width: 90%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      span {
        padding-left: 4%;
        font-size: 30px;
        min-width: 125px;
        display: inline-table;
      }
    }
  }

  .profile-container {
    margin-top: 10%;
    width: 100%;
    display: block;
    position: fixed;
    .home-container {
      margin-top: 4%;
      padding-top: 0%;
      min-height: 750px;

      p {
        padding-top: 4%;
        font-size: 29px;
        line-height: 48px;
      }

      .aside {
        background-color: black;
        height: 114px;
        text-align: center;

        div {
          display: inline-block;
          text-align: center;
          width: 180px;
        }
      }
    }
    .skills-container,
    .experience-container,
    .education-container,
    .interests-container,
    .about-container,
    .contacts-container {
      margin-top: 4%;
    }

    .skills-container {
      min-height: 1190px;
      .show-grid {
        margin-bottom: 4%;
        margin-top: 3%;
      }
    }

    .experience-container {
      min-height: 996px;
      .logo {
        img {
          margin-top: -37%;
          margin-left: 81%;
        }
      }
      p {
        font-size: 18px;
        width: 76%;
        line-height: 36px;
      }
    }

    .education-container {
      min-height: 800px;
      .timeline:before {
        left: 75%;
      }

      .edu-image {
        left: 75%;
      }
    }

    .interests-container {
      min-height: 724px;
      .react-photo-gallery--gallery {
        img {
          width: 49%;
          height: 0%;
        }
      }
    }
    .contacts-container {
      min-height: 50%;
    }
  }
}
