.profiles-container {
  height: 100%;
  font: 400 25px "Merienda One", Helvetica, sans-serif;

  .bg-image {
    position: fixed;
    img {
      width: 100%;
    }
  }

  .menu-card {
    text-transform: uppercase;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    width: 10%;
    span {
      &:nth-child(1) {
        text-decoration-color: orange;
        font-size: 20px;
      }
      transition: all 350ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scaleX(1.5);
        transition: all 350ms ease-in-out;
      }
      font-size: 14px;
      display: block;
      text-decoration: underline;
      margin: auto;
      text-align: center;
      line-height: 2;
      text-underline-position: under;
      position: relative;
      top: 25%;
    }
  }

  .menu-card-white {
    color: rgba(255, 255, 255, 0.7);
  }

  .menu-card-black {
    color: rgba(0, 0, 0, 0.7);
  }

  .profiles-card {
    height: 100%;
    overflow: hidden;
    display: inline-block;
    width: 80%;
  }

  .social-card {
    height: 100%;
    overflow: hidden;
    display: inline-block;
    width: 10%;

    span {
      font-size: 34px;
      display: block;
      margin: auto;
      line-height: 1.3;
      position: relative;
      top: 15%;
      margin: auto;
    }

    .fa {
      transition: all 350ms ease-in-out;
      &:hover {
        cursor: pointer;
        transition: all 350ms ease-in-out;
      }
    }

    .fa {
      padding: 10px;
      font-size: 25px;
      border-radius: 50%;
      width: 55px;
      text-align: center;
      text-decoration: none;
      margin-bottom: 6%;
    }

    .fa:hover {
      opacity: 0.7;
    }

    .fa-facebook {
      background: #3b5998;
      color: white;
    }

    .fa-twitter {
      background: #55acee;
      color: white;
    }

    .fa-google-plus {
      background: #dd4b39;
      color: white;
    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }
  }
}
