.menu-card {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  height: 100%;
  overflow: hidden;
  display: inline-block;

  span {
    &:nth-child(1) {
      text-decoration-color: rgb(12, 9, 3);
    }
    transition: all 350ms ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scaleX(1.5);
      transition: all 350ms ease-in-out;
    }
    font-size: 19px;
    display: block;
    text-decoration: underline;
    margin: auto;
    text-align: center;
    line-height: 2;
    text-underline-position: under;
    position: relative;
    top: 1%;
    color: crimson;
    min-width: 162px;
  }
}

// .profiles-container {
// transition: all 850ms ease-in-out;
.profile-image {
  .img-circle {
    width: 216px;
    height: 216px;
    margin-top: 14%;
    border: 0.8rem solid rgba(255, 255, 255, 0.2);
  }
}

.menu-card-white {
  color: rgba(14, 1, 1, 0.7);
}

.profiles-card {
  font-family: "Saira Extra Condensed", sans-serif;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-container {
  text-align: center;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(#c7b38e, orange);
  width: 25%;
  overflow: hidden;
  display: inline-block;
}

.name {
  text-transform: uppercase;

  .sub-name {
    color: orange;
  }
}

.profile-fluid {
  padding: 0 !important;
}
// }

.profile-container {
  width: 75%;
  display: inline-block;
  overflow: auto;
}

.portfolio {
  overflow: hidden;
}
