.experience-container {
  min-height: 100%;

  h1 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }

  .duration {
    color: crimson;
  }

  .designation {
    margin-top: 0;
    color: #868e96;
  }

  .description {
    font-size: 18px;
    width: 83%;
  }

  .logo {
    text-align: center;
    img {
      margin-top: -2%;
    }
  }
}
