.about-container {
  min-height: 100%;
  text-align: center;
  border-bottom: 1px solid orangered;

  h1 {
    align-items: center;
    font-size: 46px;
    margin: 1%;
    font-weight: bold;
  }

  .react-parallax {
    height: 100%;
  }

  .about-text {
    font-size: 25px;
    line-height: 2;
    margin-top: 3%;
    width: 89%;
    margin-left: 5%;
  }
}
